@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

body {
    background: #fff;
    color: #333;
    font-family: "굴림";
    font-size: 14px;
}

#wrap {
    width: 100%;
    height: 920px;
    background-color: aquamarine;
}

.left {
    width: 200px;
    height: 800px;
    background: #ddd;
    float: left;
}

.logo {
    text-align: center;
    background: white;

}

.logo a {
    display: inline-block;
    width: 171px;
    height: 115px;
}

.logo img {}

.nav {}

.main {
    width: 180px;
    margin: 20px auto 0;
}

.main>li {
    position: relative;
}

.main>li>a {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: pink;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.main>li:hover>a {
    background: hotpink;
    color: #fff;
}

.sub {
    position: absolute;
    left: 180px;
    top: 0;
    width: calc(1920px - 190px);
    background-color: rgba(0, 0, 0, .7);
    display: none;
    z-index: 100;
}

.sub li {
    display: inline-block;
}

.sub li a {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
}

.sub li a:hover {
    background-color: rgba(255, 255, 255, .5);
    color: #333;
}



.right {
    width: calc(100% - 200px);
    height: 800px;
    background-color: #aaa;
    float: right;
}

.img_slide {
    width: 100%;
    height: 400px;
}

.move {
    width: 100%;
    height: 400px;
    position: relative;
}

.move li {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
}

.move li img {
    width: 100%;
    height: 100%;
}

.link {
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    padding: 10px;
}

.link_list {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.link_list li {
    text-align: center;
    width: 100px;
    /* display: inline-block; */
    /* margin: 0 30px; */
}

.link_list li a {
    display: block;
}

.link_list li a img {
    display: block;
    width: 100px;
    height: 100px;
}

.link_list li a span {
    display: block;
    height: 30px;
    line-height: 30px;
    /* border: 1px solid black; */
}

.contents {
    width: 100%;
    height: 250px;
    /* background-color: aqua; */
    padding: 10px;
}

.contents>div {
    float: left;
    height: 100%;
    /* 230px */
    width: 50%;
    padding: 20px;
    /* border: 1px solid black; */
}

.contents h2 {
    font-size: 14px;
    background-color: #f1f1f1;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.contents ul {
    background-color: #f1f1f1;
    width: 100%;
    height: 160px;
    /* 230 - 40 -30 */
    padding: 10px;
}

.notice {}

.notice li {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px dotted #444;
}

.notice li:hover {
    border-bottom-color: hotpink;
}

.notice li a {
    display: block;
    width: 75%;
    float: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice li span {
    float: right;
}


.gallery {
    text-align: center;
}

.gallery li {
    display: inline-block;
    width: 100px;
    margin: 0 30px;
}

.gallery li a {}

.gallery li a img {
    width: 100%;
}

.gallery li a span {
    font-size: 12px;
}

.gallery li a img:hover {
    opacity: 0.8;
}

.footer {
    width: 100%;
    height: 120px;
    background-color: violet;
    clear: both;
}

.f_logo {
    width: 200px;
    height: 120px;
    float: left;
}

.f_center {
    width: calc(100% - 400px);
    height: 120px;
    float: left;
}

.f_menu {
    height: 60px;
    line-height: 60px;
}

.f_menu a {
    display: inline-block;
    padding: 0 10px;
}

.f_menu a::after {
    content: "|";
    display: inline-block;
    padding-left: 20px;
}

.f_menu a:last-child::after {
    display: none;
}

.f_menu a:hover {
    text-decoration: underline;
}

.copy {
    height: 50px;
    line-height: 50px;
    padding: 0 10px
}

.family {
    width: 200px;
    height: 120px;
    float: right;
    text-align: center;
    padding-top: 40px;
}

.family #fa {
    width: 150px;
    height: 40px;
}

.popup {
    width: 500px;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: pink;
    border: 10px solid hotpink;
    padding: 20px;
    border-radius: 10px;
    z-index: 300;
    display: none;
    
}

.popup h3 {
    font-size: 30px;
    padding: 10px;
    border: 5px double hotpink;
    text-align: center;
}

.popup p {
    padding-top: 20px;
    line-height: 2;
    font-size: 14px;
    text-align: justify;
}

.popup .close {
    position: absolute;
    right: 20px;
    bottom:30px;
    padding: 5px 15px;
    cursor: pointer;
}